{#
/**
 * @file
 *
 * Default template for svg_inline theme.
 *
 * @ingroup themeable
 */
#}
{% if wrap %}<span class="icon__wrapper">{% endif %}
<svg class="icon icon--{{ name }}" role="img"{% if title %} title="{{ title }}"{% endif%} xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#{{ name }}"></use></svg>
{% if wrap %}</span>{% endif %}
